@model U5_W4_BuildWeek.Models.DbModels.Utenti

@{
    ViewBag.Title = "Details";
}

<h1 class="m-3">

</h1>


<div class="p-3 px-5 table-container">
    <div class="row align-items-center justify-content-center rounded" style="background-color: rgb(255, 255, 255, 0.92);">

        @* Info *@
        <div class="col-12">
            <h3>
                <i class="fa fa-user" aria-hidden="true"></i>
                @Model.Username
            </h3>


            <div class="row row-cols-1 row-cols-2 mx-4 mb-4">

                @* Nome *@
                <div>
                    <div class="fw-bold">
                        Nome
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Nome)
                    </div>
                </div>

                @* CF *@
                <div>
                    <div class="fw-bold">
                        Codice Fiscale
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.CF)
                    </div>
                </div>

                @* Numero *@
                <div>
                    <div class="fw-bold">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Telefono)
                    </div>
                </div>

                @* Email *@
                <div>
                    <div class="fw-bold">
                        @Html.DisplayNameFor(model => model.Email)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Email)
                    </div>
                </div>

                @* Ruolo *@
                <div>
                    <div class="fw-bold">
                        @Html.DisplayNameFor(model => model.Ruolo)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Ruolo)
                    </div>
                </div>
            </div>

        </div>


        <p class="btn btn-outline-dark w-25">
            @Html.ActionLink("Reset della password*", "Reset", new { id = Model.Id }, new {@class = new { @class = "text-reset text-decoration-none" } }) 
        </p>
        <p style="font-size:10px"> *la password resettata diventerà "password123!" </p>

    </div>



</div>