@model U5_W4_BuildWeek.Models.DbModels.Utenti

@{
    ViewBag.Title = "Details";
}

@*<h2 class="text-center" >Details</h2>*@


<div class="d-flex justify-content-center  mt-3 text-center">
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h4>Utenti</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>



                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CF)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CF)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ruolo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ruolo)
                </dd>

            </dl>
        </div>
    </div>
</div>




<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
