
@model U5_W4_BuildWeek.Models.DbModels.MedicinaliVendite


<div>
    <h2 class="text-success">Riepilgo Acquisto</h2>
    <h4>@ViewBag.NomeMedicinale</h4>
    <p>Prezzo: <strong>@string.Format("{0:C}", ViewBag.PrezzoMedicinale) </strong> </p>
    <hr />
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Ricetta ")
            @Html.TextBox("ricetta", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Codice Fiscale ")
            @Html.TextBox("codiceFiscale", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
         
                <input type="submit" value="Conferma Acquisto" class="btn btn-outline-success mt-2" />
          
        </div>
    </div>
}
