@model U5_W4_BuildWeek.Models.DbModels.AnimaliTipologia

@{
    ViewBag.Title = "AggiungiTipologia";
}

<h2 class="titolo">Aggiungi tipologia</h2>

<div class="wrapper fadeInDown">


    @using (Html.BeginForm("AggiungiTipologia", "TipologiaAnimale", FormMethod.Post, new { id = "formContent", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <p><span class="star">* </span>CAMPI RICHIESTI</p>

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="Tipologia" class="label-form">@Html.Raw("<strong>Tipologia</strong><span class='star'> *</span>")</label>
                @Html.TextBoxFor(model => model.Tipologia)
                @Html.ValidationMessageFor(model => model.Tipologia, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Aggiungi" class="btn btn-primary my-3" />
                </div>
            </div>
        </div>
    }

</div>