@model U5_W4_BuildWeek.Models.DbModels.Animali

@{
    ViewBag.Title = "DettaglioAnimale";
}

<h1 class="m-3">
    <i class="fa fa-paw" aria-hidden="true"></i>
    @Model.Nome
</h1>

<div class="p-3 px-5 table-container">
    <div class="row align-items-center rounded" style="background-color: rgb(255, 255, 255, 0.92); ">
        <div class="col-12 col-md-4">
            <img src="~/Content/Imgs/Animali/@Model.Foto" class="w-100" />
        </div>

        @* Info *@
        <div class="col-12 col-md-8 ml-5 fs-5">

            <div class="row row-cols-1 row-cols-2 mx-4 mb-4">

                @* Padrone *@
                <div>
                    <div class="fw-bold">
                        Padrone
                    </div>
                    <div>
                        @if (Model.FkUtente != null)
                        {
                            @Html.DisplayFor(model => model.Utenti.Nome)
                        }
                        else
                        {
                            if (Model.RicoveroAttivo && User.Identity.IsAuthenticated)
                            {
                                <span> Questo animale non ha un padrone, <a href="@Url.Action("Adotta", new { id = Model.Id })">adottalo!</a> </span>
                            }
                        }
                    </div>
                </div>

                @* Specie *@
                <div>
                    <div class="fw-bold">
                        Specie
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.AnimaliTipologia.Tipologia)
                    </div>
                </div>

                @* Microchip *@
                <div>
                    <div class="fw-bold">
                        @Html.DisplayNameFor(model => model.Microchip)
                    </div>
                    <div>
                        @if (Model.Microchip == "" || Model.Microchip == null)
                        {
                            <span> Non presente </span>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Microchip)
                        }
                    </div>
                </div>

                @* Colore *@
                <div>
                    <div class="fw-bold">
                        @Html.DisplayNameFor(model => model.Colore)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Colore)
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-2 mx-4 mb-4">

                @* Registrazione *@
                <div>
                    <div class="fw-bold">
                        Data di registrazione
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.DataRegistrazione)
                    </div>
                </div>

                @* Nascita *@
                <div>
                    <div class="fw-bold">
                        Data di nascita (o presunta)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.DataNascita.Value)
                    </div>
                </div>

                @* Ricovero *@
                @if (Model.DataInizioRicovero != null)
                {
                    <div>
                        <div class="fw-bold">
                            Data inizio ricovero
                        </div>
                        <div>
                            @Html.DisplayFor(model => model.DataInizioRicovero)
                        </div>
                    </div>
                }




            </div>

        </div>
    </div>
    @* Foto *@

</div>







@{Html.RenderAction("StoriaMedica", new {id=Model.Id});}