@model IEnumerable<U5_W4_BuildWeek.Models.DbModels.Visite>

@{
    ViewBag.Title = "StoriaMedica";
}

<h2>StoriaMedica</h2>

<p>
    @Html.ActionLink("Aggiungi visita", "Create", "Visite", new { area = "", id = @ViewBag.Id }, new {})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataVisita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsameObbiettivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescrizioneCura)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataVisita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsameObbiettivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescrizioneCura)
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        }
        </tr>
}

</table>
