@model U5_W4_BuildWeek.Models.DbModels.Animali

@{
    ViewBag.Title = "DettaglioAnimale";
}

<h2>DettaglioAnimale</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimaliTipologia.Tipologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimaliTipologia.Tipologia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utenti.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRegistrazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRegistrazione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInizioRicovero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInizioRicovero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Microchip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Microchip)
        </dd>

    </dl>
</div>
