@model U5_W4_BuildWeek.Models.DbModels.Utenti

@{
    ViewBag.Title = "Login";
}

<section id="sectionLogin" class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center d-flex justify-content-center">
            <div class="col-lg-6 mb-lg-0">
                <div class="card cascading-right" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);">
                    <div class="card-body shadow-5 text-center d-flex justify-content-center flex-column align-items-center">
                        <h2 class="fw-bold">Login</h2>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div>
                                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>

                                <div>
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>

                                <div>
                                    <div class="col-md-offset-2">
                                        <input type="submit" value="Login" class="btn btn-success mt-3 mb-3" />
                                    </div>
                                </div>
                            </div>
                        }
                        <div>
                            Non hai un account? | @Html.ActionLink("Registrati", "Register")
                        </div>

                        <div class="text-center mt-3">
                            <p class="m-0">o accedi con:</p>
                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-lg-0">
                <img src="https://img.freepik.com/free-photo/cute-elephant-nature_23-2150895415.jpg?w=360&t=st=1697468280~exp=1697468880~hmac=660dcfa717424bdae2529e46b627772b92c9b239cc5f035ed49fad1656bc71a5" class="w-100 rounded-4 shadow-4"
                     alt="fotoRegister" />
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
