@model IEnumerable<U5_W4_BuildWeek.Models.DbModels.Ricoveri>

@{
    ViewBag.Title = "Rimborsi";
}

<h2>Rimborsi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animali.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attivo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Animali.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attivo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


@section scripts {
    <script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("Rimborsi", "Home")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#totale').text(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    </script>
}