@model IEnumerable<U5_W4_BuildWeek.Models.DbModels.Medicinali>

@{
    ViewBag.Title = "Index";
}
<a href="@Url.Action("Create")" class="btn btn-warning">Create</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Costo</th>
            <th>Posizione</th>
            <th>Tipologia</th>
            <th>Modifica</th>
            <th>Elimina</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Nome</td>
                <td>@string.Format("{0:C}", m.Costo)</td>

                <td>@m.Posizione</td>
                <td>
                    @if (m.Medicinale)
                    {
                        <p>Medicinale</p>
                    }
                    else
                    {
                        <p>Alimento</p>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Modifica", new { id = m.Id })" class="btn btn-warning">Modifica</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", new { id = m.Id })" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
